<div class="headFlex">
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatum reiciendis eum quo alias repudiandae totam magni, voluptate ipsam quaerat autem incidunt fugit laborum debitis et sapiente dignissimos deleniti sunt.
    </p>

</div>

<div class="bodyFlex">
    
    <div class="leftDiv" >
        <div class="itemL1"><p>Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
    
    <nz-divider nzType="vertical" class="custom-divider"></nz-divider>

    <div class="rightDiv">
        <!-- <div class="itemR1"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora placeat architecto, quisquam aliquam commodi aspernatur adipisci? Minima deleniti modi ullam sapiente iure dignissimos repellendus perspiciatis deserunt magnam adipisci, cum sunt.</p>
        </div> -->
        <nz-calendar 
            [(ngModel)]="date">
            <ul *nzDateCell="let date" class="events">
                <li *ngFor="let holidayTime of listHolidayMap[date.toLocaleDateString('en-CA')]">
                    <nz-badge [nzStatus]="holidayTime.holidayStartTime" [nzText]="holidayTime.holidayStartTime + '~' +holidayTime.holidayEndTime"></nz-badge>
                </li>
            </ul>
        </nz-calendar>
    </div>

    <button (click)="test()" style="width: 50px; height: 50px;">測試</button>
</div>
